:root {
    --primary-color: #30292F;
    --secondary-color: #413F54;
    --third-color: #5F5AA2;
    --fourth-color: #355691;
    --fifth-color: #3F4045;
    --background-color: #FFF;
}

/* Applies to All*/
body {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container for Game */ 
.board-game-ui {
    box-sizing: border-box;
    width: 60%;
    color: var(--text-color);
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    padding: 20px;
}

/* Header */
.header select {
    background-color: none;
    border-bottom: 2px solid var(--secondary-color);
}

/* Second Row of Grid */
.upper-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper-header .item-select {
    display: flex;
    gap: 10px;
}

.upper-header .item-select .btn {
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    width: 15em;
    height: 2.5em;
    border-radius: 0.5rem;
}

/* Third Row of Grid */
.board-game-grid {
    background-color: var(--primary-color);
    padding: 20px;
}

/* Fourth Row of Grid */
.footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
}