:root {
    --primary-color: #30292F;
    --secondary-color: #413F54;
    --third-color: #5F5AA2;
    --fourth-color: #355691;
    --fifth-color: #3F4045;
    --background-color: #FFF;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-game-ui {
    color: var(--text-color);
    display: grid;
    grid-template-rows: auto auto auto;
    width: 50%;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    padding: 20px;
}

.header {
    margin-bottom: 10px;
}

.difficulty-select {
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 0;
}

.board-game-grid {
    background-color: var(--primary-color);
    margin: 0px -20px;
    padding: 20px;
}

.footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    font-weight: 600;
    font-size: 1rem;
}